body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* col */
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px;
    transition: 0.5s;
}
.result{
    width: 50%;
    border-left: solid black 1px;
    padding-left: 10px;
    position: relative;
    margin: 0 auto;
    transition: 0.5s;
}
.col1{
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}
.col2{
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}
.form{
    width: 50%;
    position: relative;
    margin: 0 auto;
    transition: 0.5s;
}
.birthday{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: 0.5s;
}
.birthday select, .birthday input{
    padding:10px;
    margin: 10px;
}
.input input{
    padding: 10px;
    margin: 10px;
}
.button button{
    padding: 10px;
    margin: 10px;
    width: 100px;
}
@media screen and (max-width:1430px) {
    .col1{
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
    .col2{
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
    .birthday{
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
}
@media screen and (max-width:720px) {
    .container{
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        margin: 0 auto;
        width: 80%;
    }
    .result{
        border-left: none;
        border-top:solid black 1px;
        margin: 0;
        transition: 0.5s;
        width: auto;
    }
    .form{
        margin: 0;
        transition: 0.5s;
        width: auto;
    }
}